.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

.DS_Store
# data/intermediate
Data/Raw/CRS/txt/**
data/raw/crs/crs_full.rds
data/raw/CRS/zip/**
data/raw/CRS/Other crs/**
data/raw/IATI

# data/data_sub
# !data/intermediate
# data/intermediate/*
# !data/intermediate/crs02.rds
# !data/intermediate/crs03.rds

# some additional lines added during the review process
code/YTnewcodes
data/data_sub
data/intermediate/crs_filter_results.csv
YTreviewtemp

data/intermediate/crs01_1all.rds
# data/intermediate/tf_idf_keywords.rds

*_full.rds
*full_win.rds
*_full.rdata
*_full_2023.rds
*_full_2023.rdata

# analyisis are for desk research purposes
data/analysis


*de.rds
!data/raw/crs/crs_de.rds

data/raw/crs/archive/**

*full1.rds

~$*

output/gender markers and analysis.csv


output/data2022_20221012.rds
output/press2021*
output/press2022*

data/intermediate/99.01*
data/intermediate/99.02*
data/intermediate/99.03*


code/9*
code/X*

output/*

data/intermediate/PRESS*

data/auxiliary/r*

tmp/

data/raw/crs/df_crs_fr.rds

# temp ignore for March 2023 SRH request
data/intermediate/crs05.2_full_20232023.rds
data/intermediate/crs05_full_20232023.rds

# d4d analysis requires original dataset from CRS
data/intermediate/07.3 d4d analysis.feather
data/intermediate/06.3 crs with donor code_2023.feather
data/intermediate/06.3 crs with donor code_2023_withoutD4D.feather
data/intermediate/crs05.2_full_2023.feather
