.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history

.DS_Store
# data/intermediate
Data/Raw/CRS/txt/**
data/raw/crs/crs_full.rds
data/raw/CRS/zip/**
data/raw/CRS/Other crs/**
data/raw/IATI
# data/data_sub
# !data/intermediate
# data/intermediate/*
# !data/intermediate/crs02.rds
# !data/intermediate/crs03.rds

# some additional lines added during the review process
code/YTnewcodes
data/data_sub
data/intermediate/crs_filter_results.csv
YTreviewtemp

data/intermediate/crs01_1all.rds
# data/intermediate/tf_idf_keywords.rds

*_full.rds
*full_win.rds
*_full.rdata

# analyisis are for desk research purposes
data/analysis


*de.rds
!data/raw/crs/crs_de.rds

data/raw/crs/archive/**

*full1.rds

~$*

output/gender markers and analysis.csv


output/data2022_20221012.rds
output/press2021*
output/press2022*

data/intermediate/99.01*
data/intermediate/99.02*
data/intermediate/99.03*

code/9*
code/X*

output/*

data/intermediate/PRESS*

data/auxiliary/r*


